body {
    font-family: Arial, sans-serif;
}
    
    
    nav {
    width: 100%;
    height: 60px;
    background-color: #344050;
    
}
.logo{ 
    color: #fff;
    font-size: 30px;
line-height: 60px;
padding-left: 388px;
float: left;

}

.menu {
    float: left;
padding-left: 430px;


}

.menu li {
    float: left;
    line-height: 60PX;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;


}

.main {
    background: url(../img/boy.png) 90% 100% no-repeat/ auto 85%, url(../img/bg.jpg) center/cover no-repeat;
    height: calc(100% - 60px);


}

.title_container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;


}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;


}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 7px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;

 max-width: 730px;
    padding-top: 22px ;
    margin-top: 42px;
    margin-right: auto 
}


.title_box {
    height: 500px;
}

    

.title_box h2 {
        text-align: center;
        font-size: 30px;
        margin-top: 108px;
        font-weight: 700;
        color:#263244;


        }

        .line_image {
            text-align: center;
            height: 4px;
            margin-top: 30px;
        }

        .round_boy {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;


        }

        .title_box p {
            display: block;
            max-width: 730px;
            padding-top: 0px;
            margin-top: 40px;
           margin-left: auto;
            margin-right: auto;
            color: #717883;
          font-size: 17px;
           



        }

        .title_box input {
            display: block;
            text-align: center;
           width:150px;
	height:35px;
	border:3px solid gray;
	border-radius:5px;
	margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            background-color: #fcfdfd;
           color: #717883;
            font-weight: bold;
            padding-left: 20px;
            background-image: url(../img/button_icon.png) ;
            background-repeat: no-repeat;
            background-position: 3% 50%;

        }
.title_box2 {
    
    display: block;
    height: 500px;
    text-align: center;
    background: url(../img/background2.jpg);

}
.title_box2 h2 {
    display: block;
   margin-top:  100px;
    padding-top: 60px;
   
        font-size: 30px;
     color:#263244;
    font-weight: 700;
    
    
}



.title_box2 li
{
    display:inline-table;
    text-align: center;
    padding-top: 40px;
  
    max-width: 200px;
    max-height: 50px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
   


}
 .line_image2
{
           display: block;
     ;
     margin-left: auto;
     margin-right: auto; 
     padding-top: 20px;
        }
.title_box2 h3 {
    display: block;
    padding-bottom: 20px;
}
